
.advantages {
    
    background-color: #f6f6f6;
    padding: 70px 0px 95px 0px;
        @media (max-width: 810px){
            padding: 50px 0px 55px 0px;
        }
        @media (max-width: 500px){
            padding: 30px 0px 20px 0px;
        }
    // .advantages__title   
    // &__title {
    // }
    
    // .advantages__row
    &__row {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        padding: 65px 0px 0px 0px;
        margin: -10px -10px;
            @media (max-width: 810px){
                justify-content: center;
            }
            @media (max-width: 500px){
                padding: 15px 0px 0px 0px;
            }
    }
    
    // .advantages__item
    &__item {
        padding: 10px 10px;
    }
}
    .item-advantage {
        width: 247px;
        color: #0d0d0d;
        text-align: center;

    // .item-advantage__img
    &__img {
        max-width: 70px;
        margin: 0 auto;
            img{
                display: block;
                max-width: 100%;
            }
            &_heartbeat{
                animation: pulse 1.3s ease infinite;
            }
    }
    
    // .item-advantage__title
    &__title {
        font-size: 18px;
        font-weight: 700;
        margin: 38px 0px 0px 0px;
            @media (max-width: 500px){
                margin: 10px 0px 0px 0px;
            }
    }
    
    // .item-advantage__text
    &__text {
        font-size: 14px;
        font-weight: 300;
        line-height: 17px;
        margin: 25px 0px 0px 0px;
            @media (max-width: 500px){
                margin: 10px 0px 0px 0px;
            }
            a{
                color: #ff0000;
                text-decoration: underline;
            }
    }
}
    