.consult {
  background: url("../img/bg_consult.jpg") center center / cover no-repeat;

  // .consult__content
  &__content {
    padding: 100px 0px 92px 0px;
    @media (max-width: 991px) {
      padding: 70px 0px 62px 0px;
    }
    @media (max-width: 767px) {
      padding: 30px 0px 20px 0px;
    }
  }

  // .consult__title
  &__title {
    max-width: 780px;
    color: #ffffff;
    font-size: 36px;
    text-transform: uppercase;
    text-align: left;
    @media (max-width: 991px) {
      text-align: center;
      margin: 0 auto;
    }
    @media (max-width: 767px) {
      max-width: 400px;
      font-size: 18px;
    }
  }

  // .consult__form-title
  &__form-title {
    max-width: 400px;
    color: #ffffff;
    font-size: 20px;
    text-align: left;
    margin: 80px 0px 0px 0px;
    @media (max-width: 991px) {
      text-align: center;
      margin: 40px auto 0 auto;
    }
    @media (max-width: 767px) {
      margin: 15px auto 0 auto;
      font-size: 14px;
      max-width: 260px;
    }
  }
}
.feed-form {
  display: flex;
  flex-direction: column;
  margin: 38px auto 0px auto;
  @media (max-width: 991px) {
    align-items: center;
  }
  @media (max-width: 767px) {
    margin: 0px auto 0px auto;
  }
  // .feed-form__btn
  &__btn {
    font-size: 16px;
    width: 300px;
    height: 55px;
    margin: 20px 0px 0px 0px;
    @media (max-width: 767px) {
      width: 260px;
      height: 45px;
    }
  }
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    // -webkit-appearance: none;
    // -moz-appearance: textfield;
    // appearance: none;
    // appearance: textfield;
    background: #0a377e;
    margin: 0;
    // appearance: none; 
    // appearance: textfield;   
  }
  input {
    display: inline-block;
    font-weight: 300;
    margin: 15px 0px 0px 0px;
    font-size: 14px;
    padding: 0px 20px;
    width: 300px;
    height: 50px;
    border: none;
    border-radius: 5px;
    background-color: #ffffff;
    overflow: hidden;
    &:focus {
      box-shadow: 0 0 20px rgb(69, 147, 211); /* Параметры тени */
    }
    @media (max-width: 767px) {
      width: 260px;
      height: 40px;
      font-size: 13px;
    }
  }
}
