//====================================================================================================

//====================================================================================================
/*
	//Стиль иконки бургера
	.icon-menu{
		display: block;
		position: absolute;
		top: 18px;
		right: 10px;
		width:30px;
		height: 18px;
		cursor: pointer;
		z-index: 5;
		span{@include anim(0.3s,0s);top: 8px;left: 0px;position: absolute;width: 100%;height: 2px;background-color: #000;
			&:first-child{top: 0px;}
			&:last-child{top: auto;bottom: 0px;}
		}
		&.active{
			span{@include scale(0);
				&:first-child{@include rotate(-45deg);top: 8px;}
				&:last-child{@include rotate(45deg);bottom: 8px;}
			}
		}
	}
*/
.header {
	background: url('../img/bg_header.jpg') center center /cover  no-repeat;
		@media (max-width: 800px){
			background: url('../img/bg_header.jpg')  -300px 0 /auto 100% no-repeat;		
		}
	//min-height: 600px;
	// .header__row	
	&__row {
		color: #fff;
		padding: 24px 0px 93px 0px;
			@media (max-width: 800px){
				padding: 18px 0px 30px 0px;
			}
			@media (max-width: 500px){
				padding: 12px 0px 15px 0px;
			}
	}
	
	// .header__menu	
	&__menu {
		display: flex;
		justify-content: space-between;
			@media (max-width: 800px){
				padding: 0px 10px;	
			}
			@media (max-width: 500px){
				flex-direction: column;
				align-items: center;	
			}
	}
	
	// .header__logo	
	&__logo {
		max-width: 250px;
		img{
			display: block;
			max-width: 100%;
		}
		@media (max-width: 500px){
			max-width: 200px;
		}
	}
	// .header__official	
	&__official {
		text-align: center;
		font-size: 12px;
		margin: 0px 0px 0px -60px;
		span{
			font-size: 18px;
			font-weight: 700;
			display: block;
			margin: 12px 0px 0px 0px;
		}
			@media (max-width: 800px){
				display: none;	
			}
	}
	
	// .header__tel	
	&__tel {
		display: flex;
		flex-direction: column;
		align-items: flex-end;
			@media (max-width: 500px){
				margin: 15px 0px 0px 0px;
			}
			
	// .header__tel_btn	
	&_btn {
		font-size: 12px;
		width: 150px;
		height: 30px;
		margin: 8px 0px 0px 0px;
	}
	}
	
	// .header__num	
	&__num {
			display: block;
			color: #ffffff;
			font-size: 18px;
	}
	
	// .header__content	
	&__content {
		display: flex;
		flex-direction: column;
		align-items: flex-end;
		@media (max-width: 800px){
			align-items: center;
		}
			h1{
				font-size: 42px;
				font-weight: 700;
				text-transform: uppercase;
				margin: 90px 0px 0px 0px;
					@media (max-width: 800px){
						margin: 30px 0px 0px 0px;	
						font-size: 32px;
					}
					@media (max-width: 500px){
						margin: 30px 0px 0px 0px;	
						font-size: 22px;
					}
			}
			h2{
				margin: 17px 0px 0px 0px;
				font-size: 24px;
				font-weight: 500;
				text-transform: uppercase;
					@media (max-width: 800px){
						margin: 12px 0px 0px 0px;	
						font-size: 18px;
						align-items: center;
					}
					@media (max-width: 500px){
						margin: 0px 0px 0px 0px;	
						font-size: 12px;
						text-align: center;
						line-height: 18px;
					}
			}
	}
	
	// .header__icon-row	
	&__icon-row {
		display: flex;
		justify-content: space-between;
		padding: 0px 10px;
		max-width: 440px;
		margin: 66px 0px 0px 0px;
			@media (max-width: 800px){
				margin: 40px 0px 0px 0px;
			}
			@media (max-width: 500px){
				flex-wrap: wrap;
				justify-content: center;
				margin: 40px 0px 0px 0px;
			}
	// .header__icon-row_btn	
	&_btn {
		margin: 67px 0px 0px 0px;
		width: 300px;
		height: 50px;
		font-size: 16px;
			@media (max-width: 800px){
				margin: 30px 0px 0px 0px;
			}
			@media (max-width: 500px){
				margin: 40px 0px 0px 0px;
				width: 230px;
				height: 40px;
				font-size: 14px;
			}
	}
}
	
	// .header__link	
	&__link {
		margin: 18px 0px 0px 0px;
		font-size: 16px;
		a{
			color: #ffffff;
			text-decoration: underline;
		}
			@media (max-width: 500px){
				margin: 12px 0px 0px 0px;
				font-size: 14px;
			}
	}
}
	.icon-item {
		padding: 0px 10px;
		flex: 0 0 130px;
		text-align: center;
		font-size: 14px;
		font-weight: 500;
			@media (max-width: 500px){
				padding: 5px 10px;
			}
	// .icon-item__img	
	&__img {
		max-width: 42px;
		margin: 0px auto;
		img{
			display: block;
			max-width: 100%;
		}
	}
	
	// .icon-item__title	
	&__title {
		margin: 20px 0px 0px 0px;
		font-size: 14px;
	}
	}
	