.map {
    position: relative;
    margin-top: 70px;
        @media (max-width: 900px){
            margin-top: 40px;
        }
        @media (max-width: 767px){
            margin-top: 25px;
        }
    
    // .map__contacts
    &__contacts {
        position: absolute;
        min-width: 460px;
        height: 270px;
        top: 0px;
        left: 50%;
        transform: translateX(-50%);
        color: #fff;
        text-align: center;
        font-size: 20px;
        font-weight: 500;
        background-color: #c70101;  
        padding: 50px 0px 0px 0px;       
        a{
            color: #fff;
        } 
            @media (max-width: 767px){
                padding: 30px 0px 0px 0px;
                height: 210px;
            }
            @media (max-width: 489px){
                padding: 20px 0px 0px 0px;
                min-width: 290px;
            }
    }
    
    // .map__contacts-adress
    &__contacts-adress {
        display: block;
            @media (max-width: 489px){
                span{
                    display: block;
                }
            }
    }
    
    // .map__contacts-phone
    &__contacts-phone {
        display: inline-block;
        margin: 36px 0px 0px 0px;
        transition: all 0.7s ease;
            &:hover{
                color: rgba($color: #000000, $alpha: 1.0);
               // text-decoration: underline;
            }
                @media (max-width: 767px){
                    margin: 26px 0px 0px 0px;
                }
                @media (max-width: 489px){
                }
    }
    
    // .map__contacts-icons
    &__contacts-icons {
        display: flex;
        justify-content: center;
        align-items: flex-end;
        margin: 38px 0px 0px 0px;
            @media (max-width: 767px){
                margin: 28px 0px 0px 0px;
            }
            @media (max-width: 489px){
                margin: 18px 0px 0px 0px;
            }
    }
    
    // .map__contacts-icon
    &__contacts-icon {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0px 15px;
        height: 50px;
        width: 50px;
        border: 2px solid #fff;
        border-radius: 100%;
        transition: all 0.3s ease;
        &:hover{
            box-shadow: 0px 0px 20px #ffffff;
            background-color: rgba($color: #000000, $alpha: .2);
          }
    }
    iframe {
        width: 100%;
    }
}
    