.reviews {
    padding: 103px 0px 0px 0px;
    @media (max-width: 991px) {
        padding: 60px 0px 0px 0px;
    }
     @media (max-width: 768px) {
        padding-top: 50px;
      }
      @media (max-width: 767px) {
        padding-top: 35px;
      }
    // .reviews__title
    &__title {
        margin-bottom: 70px;
        @media (max-width: 991px) {
            margin-bottom: 25px;    
        }  
        @media (max-width: 767px) {
            margin-bottom: 10px;    
        }  
    }
    
    // .reviews__content
    &__content {
        hr{
            margin: 50px 0px;
            @media (max-width: 991px) {
                margin: 30px 0px;
            }
            @media (max-width: 320px) {
                margin: 20px 0px;
            }
        }
    }
    
    // .reviews__item
    &__item {
        @media (max-width: 767px) {
            max-width: 620px;
            margin: 0 auto;
        }
    }
    }

    .customer-item {
        display: flex;
            @media (max-width: 767px) {
                flex-direction: column;
                align-items: center;
            }
    // .customer-item__img
    &__img {
        width: 169px;
        height: 169px;
        border-radius: 100%; 
        overflow: hidden;
        flex: 0 0 169px;
            @media (max-width: 767px) {
                width: 150px;
                height: 150px;
                flex: 0 0 150px;

            }
    }
    
    // .customer-item__body
    &__body {
        padding: 0px 0px 0px 60px;
            @media (max-width: 768px) {
                padding: 0px 0px 0px 30px;
            }
            @media (max-width: 767px) {
                padding: 0px 0px 0px 0px;
                text-align: center;
            }
        p{
            padding: 0px 0px 24px 0px;
            &:last-child{
                padding-bottom: 0px;
            }
                @media (max-width: 767px) {
                    padding: 0px 0px 14px 0px;
                }

        }
    }
    
    // .customer-item__title
    &__title {
        color: #0d0d0d;
        font-size: 18px;
        font-weight: 700;
            @media (max-width: 767px) {
                margin-top: 10px;
            }
    }
    
    // .customer-item__subtitle
    &__subtitle {
        color: #646464;
        font-size: 14px;
        font-weight: 300;
        margin: 10px 0px 19px 0px;
            @media (max-width: 767px) {
                margin: 5px 0px 10px 0px;
            }
    }
    
    // .customer-item__text
    &__text {
        color: #0d0d0d;
        font-size: 16px;
        font-weight: 300;
        line-height: 18px;
            @media (max-width: 767px) {
                font-size: 14px;
                line-height: 16px; 
                text-align: left;       
            }
    }
    }
    